 *{
  margin: 0;
  padding: 10px;
}
.heading {
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.product-grid {
  display: grid;
  height: 40px;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 20px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.ProductCard1 {
  background-color: white;
  padding: 20px;
}
.ProductCard1 .head {
  color: #606060;
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns:1fr;
}
}