body{
    margin: 0;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: black;
    padding: 1rem;
}

.logo{ color: #fff;
}

.menu {
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top:60px;
    right:20px;
    width:200px;
}

.menu a {
    color: #fff;
    padding: 1em;
    text-decoration: none;
    display: block;

}

.hemburger {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
@media(min-width:768px){
.menu {
    display: flex;
   flex-direction: row;
   position: static;
   background: none;
   width:auto;
}
.hemburger {
    display: none;
}
}