 h2{
    color: blue;
}
p{
    color: brown;
     text-align:center;
    font-size: 25px;
}
.par{
    color: red;
}
#ak{
    color:blue;
}
div{
    height:200px;
    width:200px;
    color: white;
    background-color: green;
    text-align: center;
    align-content:center;
    padding: 10px;
    margin:100px;
    border: 5px solid red;
} 

 /* element selector: universal
class selector: 
you can assign 1 class to the multiple elements or  you can assign multiple classes to the single element. -->

 css properties;

color: set color of a text. */
/* p{
    color: color_name/rgb/rgba/hsl/hsla/hexadecimal(#rrggbb)
} */
/* rgb:( for red;(255,0,0))
hexadecimal:(for red;(#FF0000))
HSL values( e.g, hsl(0,100%,50%)) */

/* background-color: sets background color;

text align: align the text in anelement at a specific position.
text-align: lef/right/center/justify/start/end/initial/inherit. 
 */


 /* em: relative to the font size of parent element.
rem:relative to the font size of root 'HTML' element.
%:relative to the font size of parent element.
smaller and larger: these unis adjust the font size relative to the parent element. -->
 div{
    height:50px;
    width:400px;
    border: 2px solid black;
    padding:20px;
} 
h1{
    color: blue;
    text-align:center;
}
p{
    color:red;
}